<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication_co_aout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.sauver_liste_de_souhait"></activity>
        <activity
            android:name=".model.ListeSouhaitAdapter"
            android:label="@string/title_activity_list_view_souhait_adapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ListeView_souhait" />
        <activity android:name=".nom_liste_souhait" />
        <activity android:name=".activity.display_liste_souhait" />
        <activity android:name=".activity.New_login" />
        <activity android:name=".activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>